[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

flask = "*"
pandas = "*"
gunicorn = "*"
Werkzeug = "*"
scikit-learn = "0.20.0"
joblib = "*"

[requires]

python_version = "3.6"
